.tag-1,
#tag-2,
#tag-3,
#tag-4,
#tag-5,
#tag-6,
#tag-7 {
    display: none !important;
    background: none !important;
}

.tag-1,
#tag-2,
#tag-3,
#tag-4,
#tag-5,
#tag-6,
#tag-7 {
    z-index: auto !important;
}

.parent {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}